
$monokai-background: #272822;
$monokai-monokai-foreground: #f8f8f2;
$monokai-comment: #75715e;
$monokai-red: #f92672;
$monokai-orange: #fd971f;
$monokai-light-orange: #e69f66;
$monokai-yellow: #e6db74;
$monokai-green: #a6e22e;
$monokai-blue: #66d9ef;
$monokai-purple: #ae81ff;
$monokai-color: white;

$github-background: #e8e8e8;
$github-foreground: #AAA;
$github-comment: #998;
$github-red: #f92672;
$github-orange: #fd971f;
$github-light-orange: #e69f66;
$github-yellow: #e6db74;
$github-green: #a6e22e;
$github-blue: teal;
$github-purple: #ae81ff;
$github-color: #000;

$terminal-background: black;
$terminal-foreground: steelblue;
$terminal-comment: orangered;
$terminal-red: #f92672;
$terminal-orange: #fd971f;
$terminal-light-orange: #e69f66;
$terminal-yellow: #e6db74;
$terminal-green: #a6e22e;
$terminal-blue: teal;
$terminal-purple: #ae81ff;
$terminal-color: #DEDEDE;

$tomorrow-background: #f6f6f6;
$tomorrow-foreground: steelblue;
$tomorrow-comment: #8E908C;
$tomorrow-red: #f92672;
$tomorrow-orange: #fd971f;
$tomorrow-light-orange: #e69f66;
$tomorrow-yellow: #e6db74;
$tomorrow-green: #a6e22e;
$tomorrow-blue: teal;
$tomorrow-purple: #ae81ff;
$tomorrow-color:#4D4D4C;

$twilight-background: #232323;
$twilight-foreground: steelblue;
$twilight-comment: #8E908C;
$twilight-red: #f92672;
$twilight-orange: #fd971f;
$twilight-light-orange: #e69f66;
$twilight-yellow: #e6db74;
$twilight-green: #a6e22e;
$twilight-blue: teal;
$twilight-purple: #ae81ff;
$twilight-color:#E2E2E2;

$textmate-background: #f0f0f0;
$textmate-foreground: steelblue;
$textmate-comment: #8E908C;
$textmate-red: #f92672;
$textmate-orange: #fd971f;
$textmate-light-orange: #e69f66;
$textmate-yellow: #e6db74;
$textmate-green: #a6e22e;
$textmate-blue: teal;
$textmate-purple: #ae81ff;
$textmate-color:#333;

$solarized_dark-background: #01313f;
$solarized_dark-foreground: steelblue;
$solarized_dark-comment: #8E908C;
$solarized_dark-red: #f92672;
$solarized_dark-orange: #fd971f;
$solarized_dark-light-orange: #e69f66;
$solarized_dark-yellow: #e6db74;
$solarized_dark-green: #a6e22e;
$solarized_dark-blue: teal;
$solarized_dark-purple: #ae81ff;
$solarized_dark-color: #d0edf7;

$solarized_light-background: #fbf1d3;
$solarized_light-foreground: steelblue;
$solarized_light-comment: #8E908C;
$solarized_light-red: #f92672;
$solarized_light-orange: #fd971f;
$solarized_light-light-orange: #e69f66;
$solarized_light-yellow: #e6db74;
$solarized_light-green: #a6e22e;
$solarized_light-blue: teal;
$solarized_light-purple: #ae81ff;
$solarized_light-color:#333;