@import "../../../Themes/index.scss";

.dropdown {
    position: relative;
    display: inline-block;
    margin:.5rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: $comment;
    z-index: 1;
    width:7rem;
    p{
        padding:.5rem;
        font-size: .8rem;
        font-weight:normal;
        margin:0;
    }
    :hover{
        background-color: $blue;
        color:$background;
    }
    hr{
        background-color: grey;
        width:6rem;
    }
    #upload{
        position: absolute;
        opacity: 0;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}
