@import "./Themes/index.scss";

.App{
}

.monokai{
    background-color: $monokai-background;
    color:$monokai-color;
}

.github{
    background-color: $github-background;
    color:$github-color;
}

.terminal{
    background-color: $terminal-background;
    color:$terminal-color;
}

.tomorrow{
    background-color: $tomorrow-background;
    color:$tomorrow-color;
}

.twilight{
    background-color: $twilight-background;
    color:$twilight-color;
}

.textmate{
    background-color: $textmate-background;
    color:$textmate-color;
}

.solarized_dark{
    background-color: $solarized_dark-background;
    color:$solarized_dark-color;
}

.solarized_light{
    background-color: $solarized_light-background;
    color:$solarized_light-color;
}